<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An error occurred!</h1>
    <p>We're currently working to get this running as soon as possible, thanks for your patience.</p>

<%- include('includes/end.ejs') %>